version: "3.8"

services:
  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "8085:80"
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app_net

  frontend:
    image: nginx:alpine
    container_name: frontend
    restart: unless-stopped
    volumes:
      - ./frontend/index.html:/usr/share/nginx/html/index.html:ro
      - ./frontend/app.js:/usr/share/nginx/html/app.js:ro
      - ./frontend/conf/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app_net

  api:
    build: ./backend
    container_name: api
    restart: unless-stopped
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
